@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-900 text-white font-sans font-normal leading-normal;

    body {
      @apply p-8;
    }
  }
}

@layer components {
  #root {
    @apply w-full;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl;
  }

  .description {
    @apply text-xl;
  }

  .content-wrapper {
    .materials-wrapper {
      .material-wrapper {
        @apply border-t border-solid border-white py-4;

        &:last-of-type {
          @apply border-b border-solid border-white;
        }

        .material {
          .material-stats {
            @apply my-1;
          }

          .projects-wrapper {
            @apply my-2;

            ol {
              @apply list-decimal ml-4;
            }

            .project-name {
              @apply font-bold mb-2;
            }

            .section-name {
              @apply items-center flex h-8 my-2 p-1;

              span {
                @apply flex-1;
              }
            }
          }

          .cutlist-wrapper {
            @apply flex mt-4;

            .wood-col {
              @apply flex-1;

              .wood {
                @apply bg-[#e5e5f7] border border-black flex h-8 my-1 w-full;
                background-size: 0.5rem 0.5rem;
                background-image: repeating-linear-gradient(
                  135deg,
                  #444cf7 0,
                  #444cf7 0.0625rem,
                  #e5e5f7 0,
                  #e5e5f7 50%
                );

                .cut {
                  @apply items-center bg-white border-r border-black inline-flex flex-col h-full justify-center text-center;

                  &.angles {
                    .cut-angles,
                    .cut-length {
                      @apply leading-[0.9] scale-[0.8];
                    }

                    .cut-angles {
                      span {
                        @apply mx-1;
                      }
                    }
                  }
                }
              }
            }

            .stats-col {
              @apply ml-2;

              .wood-stats {
                @apply border border-black flex flex-col text-[0.625rem] h-8 my-1;
              }
            }
          }
        }
      }
    }
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}
